@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        display: none;
    }
    .scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
